@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
@model GradeManagement.Models.Course

<div class="card">

    <div class="card-header">
        Ajouter un cours
    </div>

    <div class="card-body">
        <form asp-action="AddCourse">

            <label asp-for="@Model.Title">Titre du cours : </label>
            <input type="text" asp-for="@Model.Title" />

            <br>
            <br>

            <label asp-for="@Model.Coefficient">Coéficient du cours : </label>
            <input type="number" asp-for="@Model.Coefficient" />

            <br>
            <br>

            <Button class="btn btn-outline-success" type="submit">Ajouter</Button>
        </form>
    </div>
</div>
