@model DemoAspNet.Models.Product


<div class="card">
  <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Country</h6>
        <p>@Model.Description</p>
    <a class="btn btn-success" href="#" role="button">Acheter</a>
  </div>
</div>