<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>@RenderBody()</title>
    <script src="~/js/site.min.js"></script>
    <link href="~/css/site.min.css" rel="stylesheet" />
</head>
<body>
   @* @RenderBody()*@
</body>
</html>
