@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers




<div class="card">
  <h5 class="card-header">Erreur</h5>
  <div class="card-body">
    <h5 class="card-title">Aucun livre ne correspond à votre recherche</h5>
        <a asp-controller="SearchBook" asp-action="Search" class="btn btn-primary">Retour</a>
  </div>
</div>
