@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Books.Models.Book




<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">

        <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
        </div>

        <div class="col-md-8">
            <div class="card-body">
                <h5>Titre</h5>
                <p class="card-text">@Model.Title</p>
                
                <h5>Auteur</h5>
                <p class="card-text">@Model.Author</p>

                <h5>Editeur</h5>
                <p class="card-text">@Model.Editor</p>
            </div>
        </div>

    </div>
</div>
