@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = ViewBag.Title;
}
@model DemoAspNet.Models.Product




<h1 class="pb-3">Page du produit ajouté</h1>

<div class="row">
   
        <div class="col">
            <partial name="_Card" model="Model" />
        </div>

</div>
